<div class="item">

    <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" />
    <label [for]="item.description" class="itemLabel">{{item.description}}</label>

    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn" nz-button nzType="default" (click)="editable = !editable"><i nz-icon nzType="edit"></i>Edit</button>
      <button nz-button nzType="default" nzDanger (click)="remove.emit()"><i nz-icon nzType="delete"></i>Delete</button>
    </div>

    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable" class="rightWrapper">
      <div class="btn-wrapper">
        <button nz-button nzType="default" (click)="editable = !editable">Cancel</button>
        <button nz-button nzType="primary" (click)="saveItem(editedItem.value)"><i nz-icon nzType="save"></i>Save</button>
      </div>
      <input type="text" nz-input placeholder="edit item" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)">      
      
    </div>

  </div>
