<div class="main">
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button nz-button nzType="primary" nzBlock (click)="addItem(newItem.value)">Add</button>

  <form  [formGroup]="bioSection">
    <nz-select formControlName="filter" (nzOpenChange)="getItems()">
      <nz-option
      *ngFor="let option of filterOptions"
      [nzLabel]="option.label"
      [nzValue]="option.value">
    </nz-option>
    </nz-select>
  </form>

  <h2>{{filteredItems.length}} <span *ngIf="filteredItems.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template></h2>

    <ul>
      <li *ngFor="let item of filteredItems">
        <app-item (remove)="remove(item)" [item]="item"></app-item>
      </li>
    </ul>

</div>
