<div class="main">
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button nz-button nzType="primary" nzBlock (click)="addItem(newItem.value)">Add</button>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzBlock>
    Actions
    <i nz-icon nzType="down">rtrt</i>
  </button>
  <nz-dropdown-menu #menu1="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <a>1st item</a>
      </li>
      <li nz-menu-item>
        <a>2nd item</a>
      </li>
      <li nz-menu-item>
        <a>3rd item</a>
      </li>
    </ul>
  </nz-dropdown-menu>

  <div class="btn-wrapper">
    <button
      nz-button
      nzType="dashed"
      nzBlock
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      nz-button
      nzType="dashed"
      nzBlock
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>

    <button
      nz-button
      nzType="dashed"
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template></h2>
    
    <ul>
      <li *ngFor="let item of items">
        <app-item (remove)="remove(item)" [item]="item"></app-item>
      </li>
    </ul>
    
</div>
